{% extends 'base.html' %}

{% block title %} Home -iCoder {% endblock title %}

{% block homeactive %} active {% endblock homeactive %}

.col-lg-6{
max-width:75
}


{% block body %}
<div class="col-lg-8 offset-lg-2 my-2 ">
  <div class="jumbotron">
    <h1 class="display-4">iCoder</h1>
    <p class="lead">This is a Technology Blog where you can get some technical news of linux operating system and open
      source applications. For latest Linux updates visit this space</p>
    <hr class="my-4">
    <p>This Blog is fully built in HTML, Bootstrap and Django.</p>
    <a class="btn btn-primary btn-lg" href="/blog" role="button">Go To Blog</a>
  </div>

  <div>
    <h2>Latest Posts</h2>

  </div>
  {% for post in allPost %}
  <div class="container col-lg-8 my-2 ">

    <div class="row no-gutters border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
      <div class="col p-4 d-flex flex-column position-static">
        <strong class="d-inline-block mb-2 text-primary">{{post.region}}</strong>
        <h3 class="mb-0">{{post.title}}</h3>
        <div class="mb-1 text-muted">{{post.timestamp}}<p> by: {{post.author}}</p>
        </div>
        <p class="card-text mb-auto">
          <div class="preview">{{post.content|safe|truncatechars:50}}</div>
        </p>
        <div class="mt-2">
          <a href="/blog/{{post.slug}}"><button type="button" class="btn btn-primary">Continue reading</button></a>
        </div>
      </div>
      <div class="col-auto d-none d-lg-block" id="thumbnail" name="thumbnail">
        <img src="/media/{{post.thumbnail}}" class="bd-placeholder-img" width="200" height="250"
          aria-label="Placeholder: Thumbnail">
        <title>Placeholder</title>
      </div>

    </div>

  </div>
  {% endfor %}
  {% endblock %}