{% extends 'base.html' %}

{% block title %} BlogHome -iCoder {% endblock title %}

{% block blogactive %} active {% endblock blogactive %}
.col-lg-6{
  max-width:75
}

{% block body %}
{% for post in allPost %}
<div class="container col-lg-6  my-2">
	
 <div class="row no-gutters border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
        <div class="col p-4 d-flex flex-column position-static">
          <strong class="d-inline-block mb-2 text-primary">{{post.region}}</strong>
          <h3 class="mb-0">{{post.title}}</h3>
          <div class="mb-1 text-muted">{{post.timestamp}}<p> by: {{post.author}}</p></div>
          <p class="card-text mb-auto"><div class="preview">{{post.content|safe|truncatechars:50}}</div></p>
          <div class="mt-2">
          <a href="/blog/{{post.slug}}"><button type="button" class="btn btn-primary">Continue reading</button></a>
          </div>
        </div>
       <div class="col-auto d-none d-lg-block" id="thumbnail" name="thumbnail">
                    <img src="/media/{{post.thumbnail}}" class="bd-placeholder-img" width="200" height="250" aria-label="Placeholder: Thumbnail">
                    <title>Placeholder</title>
                </div>

      </div>

</div>
{% endfor %}

{% endblock %}
<!--
   <div class="col-auto d-none d-lg-block">
          <svg src="/media/{{post.thumbnail}}" class="bd-placeholder-img" width="200" height="250" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: Thumbnail"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"></rect><text x="50%" y="50%" fill="#eceeef" dy=".3em">Thumbnail</text></svg>
        </div>
        -->
{% block js %}
<!-- this code is for to change blog content from admin panal into human readable -->
<script>
    let preview = document.getElementsByClassName('preview')
    Array.from(preview).forEach((element)=>{
        element.innerHTML = element.innerText
    })
</script>
{% endblock js %}